.other-news{
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 22px;
}

.feed-news ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.feed-news li{
  display: flex;
  position: relative;
  background-color: var(--cor-0);
  gap: 32px;
  border-radius: 8px;
  transition: .2s ease-out;
}

.feed-news li:hover {
  transform: translateX(8px);
}

.feed-news a + a {
  padding: 12px 20px 0px 0px;
}

.feed-news span {
  margin-top: 300px;
}

.feed-news img{
  max-width: 280px;
  border-radius: 8px 0px 0px 8px;
  object-fit: contain;
}

.feed-news h2{
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 21px;
  font-family: "GothamBold";
  line-height: 1.2;
}

.feed-news p{
  font-size: 15px;
}

.feed-news .time {
  position: absolute;
  bottom: 1rem;
}

@media (max-width: 1200px){
  .feed-news ul {
    margin-left: 20px;
  margin-right: 20px;
  }
}
@media (max-width: 1000px){
  .other-news{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px){
  .feed-news img{
    width: 150px;
  }
  .feed-news ul{
    gap: 8px;
  }
  .feed-news li{
    gap: 16px;
  }
  .feed-news span{
    font-size: 11px;
  }
  .feed-news h2{
    font-size: 14px;
    padding-top: 12px;
  }
  .feed-news p{
    display: none;
  }
  .feed-news a + a{
    padding: 4px 8px 0px 0px;
  }
  .feed-news .time{
    display: none;
  }
}

/* Trending-topics */

.trending-topics-bg{
  background-color: var(--cor-0);
  border-radius: 8px;
  padding:  24px 24px 0px 24px;
  height: 800px;
  margin-right: 20px;
}

.trending-topics ul{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.trending-topics h1 {
  margin: 0px auto 24px;
}

.trending-topics h2 {
  padding-bottom: 12px;
}

.trending-topics ul{
  border: 2px solid var(--cor-2);
  border-radius: 8px;
  padding: 20px 16px;
}

.trending-topics .top1 {
  display: flex;
  border: 2px solid var(--cor-2);
  border-radius: 8px;
  margin-bottom: 8px;
}

.trending-topics .top1 > div{
  padding: 16px 0px 12px 12px;
}

.trending-topics .top1 h3 {
  padding-bottom: 24px;
}

.trending-topics .top1 img {
  width: 120px;
  border-radius: 0px 8px 8px 0px;
}

@media (max-width: 1000px){
  .trending-topics-bg{
    display: none;
  }
}