.header-bg{
  background-color: var(--cor-0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.logo {
  width: 181px;
  height: auto;
}

.header-menu {
  display: flex;
  gap: 36px;
}

.header-menu a {
  display: inline-block;
  padding: 10px 0px;
}

.header-menu li{
  position: relative;
  display: flex;
  align-items: center;
}

.header-menu li:first-child::after{
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--cor-p1);
  top: 35px;
}

.header-menu li:first-child::before{
  content: "";
  position: absolute;
  background: url("../../img/imagens/news-detail.svg") no-repeat;
  width: 10px;
  height: 10px;
  left: -14px;
}

.header-menu li:nth-child(1):hover{
  color: #F43131;
}
.header-menu li:first-child:hover::after{
  background-color: #F43131;
}

.header-menu li:nth-child(2):hover{
  color: #535fee;
}
.header-menu li:nth-child(3):hover{
  color: #21DC4A;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div{
  display: none;
  width: 32px;
  height: 3px;
  margin: 8px;
  background-color: var(--cor-11);
}

@media (max-width: 800px){
  .header{
  padding-left: 10px;
  }
  .logo {
    margin-right: 50px;
  }
  .header-menu {
    position: absolute;
    top: 9vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(-100%);
    transition: .3s ease;
    gap: 8px;
  }
  .header-menu li {
    margin-left: 32px;
  }
  .header-menu li:first-child{
    margin-top: 40px;
  }
  .mobile-menu{
    display: block;
  }
  .mobile-menu div{
    display: block;
    transition: .2s;
  }
  
  .header-menu.active {
    display: flex;
    transform: translateX(0);
  }
  
  .mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-9px, 10px);
  }
  .mobile-menu.active .line2{
    opacity: 0;
  }
  .mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
  }
}