.newspage-grid {
  margin: 85px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.newspage-header span{
  display: inline-block;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.newspage-header h1 {
  padding-bottom: 3rem;
}

.newspage-header p {
  padding-bottom: 2rem;
}

.newspage-header p strong,
.newspage-main p strong {
  color: var(--cor-p1);
}

.newspage-header img {
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.newspage-header .image-info,
.newspage-main .image-info {
  display: flex;
  padding-top: 8px;
  padding-bottom: 40px;
  justify-content: center;
}

.newspage-main p {
  padding-bottom: 48px;
}

.newspage-main h2 {
  padding-bottom: 48px;
}

.newspage-main .images{
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 60px;
}
.newspage-main .images img{
  border-radius: 8px;
  width: 670px;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.newspage-main ul {
  padding-bottom: 3rem;
}

.newspage-main li{
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  flex-wrap: wrap;
}

.newspage-main li span {
  color: var(--cor-p1);
}
.newspage-main li::before{
  content: "";
  background-image: url("../../img/icons/list-detail.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding-right: 8px;
}

.newspage-main .autor {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 48px;
}

.newspage-main .autor-infos strong{
  color: var(--cor-p1);
}

.newspage-main .autor-infos img {
  display: inline-block;
  margin-left: 6px;
}

.newspage-main .autor-infos > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
} 

.newspage-main .autor-infos a{
  display: flex;
  align-items: center;
}

.newspage-main .autor-infos a:hover {
  border-bottom: 1px solid var(--cor-p1);
}

.newspage-main ul li a{
  display: flex;
  flex-wrap: wrap;
  color: var(--cor-p1);
  font-family: "GothamBold";
  border-bottom: 2px solid transparent;
}

.newspage-main ul li a:hover{
  border-bottom: 2px solid var(--cor-p1);
}

.newspage-main .detail{
  display: block;
  width: 450px;
  height: 10px;
  background-color: var(--cor-p1);
  margin: 0 auto 48px;
}

@media (max-width: 800px){

  .newspage-header p {
    font-size: 1.125rem;
  }
  .newspage-main p {
    font-size: 1rem;
  }
  .newspage-main li {
    font-size: 1rem;
  }
  .newspage-main .detail{
    width: 250px;
  }
}

@media (max-width: 450px){
  .newspage-header span{
  padding-top: 1.5rem;
  }
  .newspage-header h1 {
  padding-bottom: 2rem;
  max-width: 13ch;
  font-family: "GothamBold", Arial, Helvetica, sans-serif;
  }
  .newspage-main h2{
  font-family: "GothamBold", Arial, Helvetica, sans-serif;
  }
  .newspage-header img {
    height: 300px;
  }
  .newspage-header i,
  .newspage-main i {
    font-size: 0.8rem;
    text-align: center;
  }
}